body{
    color: antiquewhite ;
}

/* answer and question display*/

#question{
    color:antiquewhite;
    font-size : 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.answer-container{
    display: flex;
    margin-bottom: 12px;
    width: 100%;
    border-radius: 4px;
    background-color: rgb(51, 48, 59);
    border: 5px solid rgb(211, 84, 38);
    font-size: 2.5rem;
}

.answer-container:hover{
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

.answer-prefix{
    padding:2rem 2rem;
    color: rgb(211, 84, 38);
    font-size: 40px;
}

.answer-text{
    font-size: 45px;
    padding-block: 50px;
    width:100%;
}

/* when the correct or incorrect answers are displayed */

.correct{
    background-color: rgb(0, 128, 0);
}

.incorrect{
    background-color: rgb(148, 27, 12);
}

/* score and question counter  */

#display{
    display: flex;
    justify-content: space-between;
}

.display-prefix{
    text-align: left;
    font-size: 2rem;
}

.display-main-text{
    text-align: center;
}

/* media styling */

@media screen and (max-width:1200px){

    .answer-container{
        min-width: 40rem;
    }
    
}